@import "../mixin/mixin";
.lead {
  font-size: 1.5rem;
}

.font-bold {
  font-weight: bold;
}

.li-padding {
  li {
    padding: 8px 0;
  }
}

.title-lang,
.preface,
.head-code-explain,
.explain,
.code,
.output-code {
  background-color: #fff;
  border: 0.5px solid #ccc;
  margin: 20px 0;
  padding: 30px 15px;
  border-radius: 5px;
}

.title-lang {
  font-weight: bold;
  border-radius: 5px;
}

.preface {
  font-weight: bold;
  .span-preface {
    display: inline-block;
    border-bottom: 3px solid #3498db;
    margin-bottom: 10px;
  }
}

.head-code-explain {
  @include xs-media {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  @include md-lg-media {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  }
  display: grid;
  gap: 0px 0px;
  position: relative;
  width: 97%;
  margin: 0 14px;
  &::before {
    content: "";
    background-color: #3498db;
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 10px;
    transition: all 0.5s linear;
  }
  div {
    text-align: center;
  }
  &:hover {
    &::before {
      height: 100%;
    }
  }
}

.disc-Output,
.disc-output {
  font-weight: bold;
  text-transform: capitalize;
}

.grid-item {
  width: 25%;
}

.grid-item--width2 {
  width: 50%;
}
